## Data Preprocessing Basics

#### import the libraries
#### Import the data set from Desktop
#### Missing Value Handling by MEAN
#### Missing Value Handling by MEDIAN
#### Missing Value Handling by most_frequent
#### Concept of Dummy Variable, Handling the conflict of them(encoding)
#### Training and Testing Data (divide the data into two part)
#### Standard and fit the data for better predication

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:/Users/user/Desktop/kaggle competetion/DataSet.csv")

In [3]:
df.head()

  Developer   Age   Salary Married
0   Karachi  42.0  78000.0      No
1    Lahore  32.0  48000.0     Yes
2   Karachi  36.0  60000.0      No
3    Multan  41.0  68000.0      No
4    Lahore  42.0      NaN     Yes

In [4]:
df.shape

(10, 4)

In [5]:
x = df.iloc[:,:-1]
y = df.iloc[:,3].values

In [6]:
"""df["Age"] = df["Age"].fillna(np.mean(df["Age"]))
df.isnull().sum()"""

'df["Age"] = df["Age"].fillna(np.mean(df["Age"]))\ndf.isnull().sum()'

In [7]:
"""df["Salary"] = df["Salary"].fillna(np.mean(df["Salary"]))
df.isnull().sum()"""

'df["Salary"] = df["Salary"].fillna(np.mean(df["Salary"]))\ndf.isnull().sum()'

In [8]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = "mean")
x["Age"] = imputer.fit_transform(x[["Age"]])
x["Salary"] = imputer.fit_transform(x[["Salary"]])

In [9]:
"""imputer = SimpleImputer(strategy = "median")
x[:,1:3] = imputer.fit_transform(x[:,1:3])"""

'imputer = SimpleImputer(strategy = "median")\nx[:,1:3] = imputer.fit_transform(x[:,1:3])'

In [10]:
"""imputer = SimpleImputer(strategy = "most_frequent")      // for both numeric and categorical data
x[:,1:3] = imputer.fit_transform(x[:,1:3])"""

'imputer = SimpleImputer(strategy = "most_frequent")      // for both numeric and categorical data\nx[:,1:3] = imputer.fit_transform(x[:,1:3])'

In [11]:
pd.DataFrame(x)

  Developer        Age        Salary
0   Karachi  42.000000  78000.000000
1    Lahore  32.000000  48000.000000
2   Karachi  36.000000  60000.000000
3    Multan  41.000000  68000.000000
4    Lahore  42.000000  68777.777778
5    Multan  43.000000  59000.000000
6   Karachi  40.444444  59000.000000
7    Lahore  44.000000  79000.000000
8    Multan  52.000000  99000.000000
9    Lahore  32.000000  69000.000000

In [12]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,RobustScaler

ct = ColumnTransformer([
    ("step1",OneHotEncoder(sparse = False,handle_unknown = "ignore"),["Developer"])
    ],remainder='passthrough')

In [13]:
ct.fit(x)

ColumnTransformer(n_jobs=None, remainder='passthrough', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('step1',
                                 OneHotEncoder(categories='auto', drop=None,
                                               dtype=<class 'numpy.float64'>,
                                               handle_unknown='ignore',
                                               sparse=False),
                                 ['Developer'])],
                  verbose=False)

In [14]:
x = ct.fit_transform(x)

In [25]:
pd.DataFrame(x)
#so the dummy variables are created for column 0

     0    1    2          3             4
0  1.0  0.0  0.0  42.000000  78000.000000
1  0.0  1.0  0.0  32.000000  48000.000000
2  1.0  0.0  0.0  36.000000  60000.000000
3  0.0  0.0  1.0  41.000000  68000.000000
4  0.0  1.0  0.0  42.000000  68777.777778
5  0.0  0.0  1.0  43.000000  59000.000000
6  1.0  0.0  0.0  40.444444  59000.000000
7  0.0  1.0  0.0  44.000000  79000.000000
8  0.0  0.0  1.0  52.000000  99000.000000
9  0.0  1.0  0.0  32.000000  69000.000000

In [21]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [17]:
# standardizing data ----------->

In [23]:
from sklearn.preprocessing import StandardScaler
#it standardize the values between -1 to +1 for better prediction
sc_x = StandardScaler()

x_train = sc_x.fit_transform(x_train)
x_test = sc_x.fit_transform(x_test)

In [24]:
pd.DataFrame(x_train)

          0    1         2         3         4
0 -0.577350  1.0 -0.577350  0.545543  0.275811
1 -0.577350  1.0 -0.577350 -1.686224  0.298677
2 -0.577350  1.0 -0.577350 -1.686224 -1.862084
3  1.732051 -1.0 -0.577350  0.198379 -0.730257
4 -0.577350  1.0 -0.577350  0.991896  1.327610
5 -0.577350 -1.0  1.732051  0.322366  0.195783
6  1.732051 -1.0 -0.577350  0.545543  1.224717
7 -0.577350 -1.0  1.732051  0.768720 -0.730257